@font-face{
    font-family:Monoton;
    src: url(fonts/Monoton/Monoton-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
   /* background: white;*/
    background-color:rgb(214, 213, 213);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-head{
    width: 100%;
    height: 70%;
    overflow: hidden; 
    /*border:2px solid black;*/
    box-shadow: 0 0 10px black;
}
.middle{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navigation{
    display: none;
    width: 70vw;
    position: absolute; 
    bottom: 30px;
    left: 50%;
    transform: translate(-50% ,-50%);
    /*background-color: blue;*/
}
.bar{
    display: inline-block;
    width: 12vw;
    height: 16px;
    border: 2px solid white;
    margin: 0px 40px 0px 40px;
    cursor: pointer;
}
.bar:hover{
    background: #fff;
}
input[name='r']{
    position: absolute;
    visibility: hidden;    
}
.slides{
    width: 500%;
    overflow: hidden;
} 
.slide{
    width: 100%;
    height: 100%;
    transition: 0.6s;   
    object-fit: fill;
}
.slide img{
    height: 100%;
    float: left;
    width: 20%;
    
}
#r1:checked ~ .s1{
    margin-left:0; 
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
.s1{
    animation: 30s slider infinite ;
}
@keyframes slider{
    0% {
        margin-left:0;
    }
    20%{
        margin-left: 0%;
    }
    25%{
        margin-left: -20%;
    }
    45%{
        margin-left: -20%;
    }
    50% {
        margin-left: -40%;
    }
    70%{
        margin-left: -40%;
    }
    75%{
        margin-left: -60%;
    }
    85%{
        margin-left: -60%;
    }
    100%{
        margin-left: 0%;
    }
}
.talk p{
    position: absolute;
    left:3%;
    top: 60%;
    background-color : rgba(20, 31, 31, 0.7);
    padding-left:1%;
   /* padding-right: 30px;*/
    padding-top: 1%; 
    padding-bottom: 1%;
    overflow:auto; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    box-sizing: border-box;
    font-weight: bold;
    color: white;
    width:75%;
    height: 30%;
    box-shadow: 1px 1px 5px #000;
    border-radius: 7%;
}


.title-place{
    position: absolute;
    top: 4.5%;
    left: 5%;
}
.title{
    color:black;
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 15px;
    font-family: /*Monoton,*/'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-family: 'Monoton', cursive;*/
    /*background: #272727;*/
    z-index: 1;
    height: 5%;
    /*width: 40%;*/
    border-radius:100px 100px 0 0; 
    padding-top:35px;
    padding-bottom: 35px; 
    font-weight: bold;  
    /*box-shadow: 0 0 10px black;*/
}
.title::before, .title::after{
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding-top: 35px;
    padding-bottom: 35px; 

    z-index: -1;
}
.title::before{
    color:#ff00c1;
    animation: glitch-effect-1 3s infinite;
}
.text::after{
    color : #3498db;
    animation: glitch-effect-1 3s infinite; 
}
@keyframes glitch-effect-1 {
    0%{
        left: -3px;
        top: -3px;
    }
    25% {
        left: 3px;
        top: 0px;

    }
    50%{
        left: -1px;
        top: 3px;
    }
    75%{
        left: 1px;
        top: -1px;
    }
    100%{
        left: 0px;
        top: -2px;
    }
}

#element:checked ~ main{
    display: none;
}
main.index{
    height: 300vh;
}

main section .png-img{
    position: absolute;
    margin-top:0%;
    margin-left:0%; 
    top: 0;
    left: 0;
}
main section .png-img img{
    width: 45vw;
    height: 80vh;
}
main .section-prg{
    position: absolute;
    width: 100%;
    top: 100vh;
    height: 65%;
    background: #272727;
    box-shadow: 0 0 10px black;
}
main .section-prg .prg{
    position: absolute;
    /*background: rgba(255, 255, 255, 0.8);*/
    width: 60%;
    height: 80%;
    right: 1%;
    top: 0%;
    border-radius: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    padding: 30px;
}
main.awards{
    position: absolute;
    top: 110vh;
    width: 100%;
    height: 100%;
}
main.awards section{
    margin-top: 7%; 
    margin-bottom: 5%;
    background: rgba(0, 0, 0, 0.623);
    width: auto;
    height: auto;
}
main.awards section .carte{
    margin: 8% 2% 8% 8.5%;
    background: black;
    position: relative;
    width: 21%;
    min-width: 300px;
    height: 550px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0 30px 30px rgba(0, 0, 0 ,0.5);
}
main.awards section .carte .image-carte{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
main.awards section .carte .image-carte img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: 0.5s;
}
main.awards section .carte:hover .image-carte img{
    opacity: 0;
}
main.awards section .carte .contenu-carte{
    position: absolute;
    bottom: 20px;
    left:10%;
    width: 80%;
    height: 60px;
    background: white;
    overflow: hidden;
    transition: 0.6s;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20%;
}
main.awards section .carte:hover .contenu-carte{
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
}
main.awards section .carte .contenu-carte h3{
    margin-top: 1%;
    font-size: 26px; 
}
main.awards section:hover .section-title h2{ 
    font-size: 4vw;
}
main.awards section .section-title h2{
    font-family: Comic Sans MS, Comic Sans, cursive ,sans-serif;
    padding: 3% 0 1% 0; 
    text-align: center;
    font-size: 3vw;
    letter-spacing: 1vw;
    transition: 1s;
    color: white;
}
.top-pages{
    position: absolute;
    top:0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 190vh;
    overflow: hidden;
}
.top-pages img{
    width: 100%;
    height: 50%;
    opacity: .9;
    filter: blur(6px);
    transition: 0.5s;
    object-fit: fill;
}
.page-title{
    position: absolute;
    z-index: 1;
    top:13%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4vw;
    letter-spacing: 40px;
    width: 50%;
    border-radius: 10%;
    text-align: center;
}
#learn-more{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 3vw;
    padding: 3%;
    background: rgba(0, 0, 0, 0.678);
    border-radius: 100%;
    transition: 0.2s;
    z-index: 1;
}
#learn-more:hover{
    background: rgba(255, 255, 255, 0.678);
    color: black;
    font-size: 4vw;
    padding: 2.5%;
    font-weight: bold;
}
#learn-more:hover + figure.top-pages img{
    filter: blur(20px);
}